
body {
    background-color: darksalmon;
}

.sq1 {
    width: 150px;
    height: 150px;
    background-color: firebrick;
    margin-top: 20em;
}

.sq2 {
    width: 150px;
    height: 150px;
    background-color: firebrick;
    margin-top: 10em;
    margin-left: 10em;
}

.sq3 {
    width: 150px;
    height: 150px;
    background-color: firebrick;
    margin-top: 20em;
}

.sq4 {
    width: 150px;
    height: 150px;
    background-color: firebrick;
    margin-top: 20em;
}

.sq5 {
    width: 150px;
    height: 150px;
    background-color: firebrick;
    margin-top: 20em;
}

.sq6 {
    width: 150px;
    height: 150px;
    background-color: firebrick;
    margin-top: 20em;
}

.sq7 {
    width: 150px;
    height: 150px;
    background-color: firebrick;
    margin-top: 20em;
}

.sq8 {
    width: 150px;
    height: 150px;
    background-color: firebrick;
    margin-top: 20em;
}

.sq9 {
    width: 150px;
    height: 150px;
    background-color: firebrick;
    margin-top: 20em;
}

.sq10 {
    width: 150px;
    height: 150px;
    background-color: firebrick;
    margin-top: 20em;
}